html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}
body {
  height: 100%;
}

#app {
  height: 100%;
}

.flex-contents {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.btn {
  display: block;
  margin: 0 auto;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  text-align: center;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #eeeeee;
  text-decoration: none;
  letter-spacing: 0.1em;
}
.btn.back {
  border: none;
  background-color: #9ac9ec;
}
.btn.back:hover {
  background-color: #9bd9ec;
}
.btn.register {
  border: none;
  background-color: rgba(27, 176, 27, 0.75);
}
.btn.register:hover {
  background-color: rgba(27, 196, 27, 0.75);
}
.btn.logout:hover {
  background-color: rgba(50,50,50,0.75);
}
.btn:disabled {
  background-color: rgba(150,150,150,0.8);
  pointer-events: none;
}
.btn:disabled:hover {
  background-color: gray;
}
.btn.delete {
  border: none;
  background-color: rgba(218, 24, 24, 0.75);
}
.btn.delete:hover {
  background-color: rgba(217, 56, 56, 0.75);
}

/* basical tags */
ol,ul {
  list-style: none;
  padding-inline-start: 0;
}

input {
  border-radius: .2rem;
}
input.error {
  border-radius: .2rem;
  border-color: rgba(220,0,0,0.3);
  background-color: rgba(220,0,0,0.3);
}
