html {
  scrollbar-gutter: stable;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100vh;
}
body {
  height: 100vh;
  margin: 5rem 0;
}
body::-webkit-scrollbar {
  width: .8rem;
}
body::-webkit-scrollbar-track {
  border-radius: .5rem;
  background-color: #ececec;
}
body::-webkit-scrollbar-thumb {
  border-radius: .5rem;
  background-color: rgba(184, 184, 184, 0.9);
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ol,ul {
  list-style: none;
  padding-inline-start: 0;
}

input {
  border-radius: .2rem;
}
input.error {
  border-radius: .2rem;
  border-color: rgba(220,0,0,0.3);
  background-color: rgba(220,0,0,0.3);
}

/* components */
.c-flex--start {
  display: flex;
  justify-content: start;
}

.c-flex--center {
  display: flex;
  justify-content: center;
}

.c-flex--spaceBetween {
  display: flex;
  justify-content: space-between;
}

.c-flex--end {
  display: flex;
  justify-content: flex-end;
}

.c-flex--wrap {
  flex-wrap: wrap;
}

.c-hidden {
  display: none;
}

.c-text--center {
  text-align: center;
}

.c-color--white {
  color: white;
}

.c-color--red {
  color: red;
}

.c-fadeIn--fast {
  animation: fadeIn .3s ease;
}
.c-fadeIn--normal {
  animation: fadeIn .7s ease;
}
@keyframes fadeIn {
  0%{
    display: none;
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.c-fadeOut--fast {
  animation: fadeOut .3s ease;
}
@keyframes fadeOut {
  0%{
    display: block;
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.c-radio {
  display: none;
}

/** button **/
.c-btn {
  display: block;
  margin: 0 auto;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  text-align: center;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #eeeeee;
  text-decoration: none;
  letter-spacing: 0.1em;
}
.c-btn--back {
  border: none;
  background-color: #9ac9ec;
}
.c-btn--back:hover {
  background-color: #9bd9ec;
}
.c-btn--register {
  border: none;
  background-color: rgba(27, 176, 27, 0.75);
}
.c-btn--register:hover {
  background-color: rgba(27, 196, 27, 0.75);
}
.c-btn--logout {
  font-weight: 600;
}
.c-btn--logout:hover {
  background-color: rgba(50,50,50,0.75);
}
.c-btn:disabled {
  background-color: rgba(150,150,150,0.8);
  pointer-events: none;
}
.c-btn:disabled:hover {
  background-color: gray;
}
.c-btn--delete {
  border: none;
  background-color: rgba(218, 24, 24, 0.75);
}
.c-btn--delete:hover {
  background-color: rgba(217, 56, 56, 0.75);
}

/* google fonts */
a,p,span,li,button,input,textarea,select,label {
  font-family: 'Noto Serif JP', serif;
}
